.net {
  /* background-image: url('../img/net.jpg'); */
  color: black;
  margin-top: -55px;
  height: auto;
  padding-top: -45px;
  margin-bottom: -50px;
}
nav {
  background-color: rgba(0, 0, 0, 0.9) !important;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  height: 40px;
  width: auto;
  max-width: 150px;
}
footer {
  background-color: rgba(0, 0, 0, 0.9) !important;
  backdrop-filter: blur(10px);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  color: #d5d5d5;
  padding: 2rem 0;
  margin-top: 3rem;
}

#navtext {
  color: white;
}
.about{
  color: white;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}
.blak{
  /* background-color: black; */
margin-bottom: -220px;
margin-top: 23px;
}
#img img {
  height: 320px;
  width: 550px;
  margin-top: 22px;
}
.pg{
  font-family: 'Old Standard TT', serif;
  color: white;
  font-size: 150%;
}
iframe {
  margin-left: 100%auto;
}
#cup{
  padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
}
.apple img {
  margin-top: 80px;
  height: 110px;
  width: 203px;
}
.bdy{
  background-color: black;
  background-attachment: fixed;
}
.ba{
background-image: url("img/body.jpeg");
  background-attachment: fixed;
}
.jumbotron{
  background-color: #19003F;
  background-attachment: fixed;
}
/* .well{
background-color: #141122;
} */
